@charset "UTF-8";
*{
    font-family:Arial, Helvetica, sans-serif;
    

}

body{
    background-image:linear-gradient(to left,#011b38,#394786 45%,#011b38);

   
}
p{
    text-align: justify;
    color: black;
    
}

main{
    background-color: #455559;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #011b38;
}
h1{
    color: #D6D58E;
    text-align: center;
    text-shadow: 1px 1px 0px #7c7b52;
}
h2{
    color: #afae80;
}